#bodyCartPage {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#buyButton {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

#cartContentsCartPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}