.slideArrowBox {
    height: 100%;
}

.slideArrowBox img {
    aspect-ratio: 1 / 1;
    width: 2rem;
}

.slideshow {
    display: flex;
    justify-content: center;
    aspect-ratio: 1.5 / 1;
    max-width: 450px;
}

.slide img {
    height: 100%;
    width: 100%;
}